body {
  font-family: sans-serif;
  padding: 20px;
  background-color: aquamarine;
}

.card-body {
  border: 1px solid black;
  width: 250px;
  float:left;
  margin-right: 10px;
  margin-bottom: 20px;
}